[package]
name = "sitewriter"
version = "0.5.3"
authors = ["Edgar <git@edgarluque.com>"]
edition = "2021"
description = "A sitemap writing library."
readme = "README.md"
documentation = "https://docs.rs/sitewriter"
repository = "https://github.com/edg-l/sitewriter"
license = "MIT"
keywords = ["sitemap", "sitemapindex", "xml", "parser"]
categories = ["parsing"]

[dependencies]
chrono = "0.4.22"
derive_builder = "0.11.2"
quick-xml = "0.25.0"
url = "2.2.2"

[dev-dependencies]
criterion = { version = "0.3.6", features = ["html_reports"] }

[[bench]]
name = "benchmark"
harness = false

[profile.bench]
debug = true

[profile.release]
debug = true
